body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

textarea {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 14px;
}

iframe {
    width: 90%;
    height: 300px;
    border: 1px solid #ccc;
}

#runButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#runButton:hover {
    background-color: #45a049;
}

.div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

textarea {
    width: 100%;
    margin: 5px 0;
}

#htmlCode, #cssCode, #jsCode {
    width: 300px;
    margin: 10px;
}
.btn_home{
    padding: 10px 15px;
    font-size: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-left: 5px;
}
.btn_home:hover{
    border-radius: 6px;
    background-color: rgb(200,200,200);
    
}
.headerbut{
    cursor: pointer;
    text-decoration: none;
    color: black;
}